.account_info {
    height: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 30px 50px;
    background: #acc5f1;
    border-radius: 10px;
}

.acc_button{
    margin-right: 10px;
}