.main{
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 340px);
    width: 100%;
    background: #acc5f165;
    border-radius: 10px;
}