.modal_wrap{
    position: fixed;
    display: flex;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_auth{
    position: relative;
    display: flex;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
}

.modal_auth_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_div{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
    line-height: 0px;
}

.auth_inp{
    width: 200px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid black;
}

.auth_inp:active, .auth_inp:hover, .auth_inp:focus {
    outline: 0;
    outline-offset: 0;
}

.buttons_div{
    display: flex;
    width: calc(100% - 60%);
    margin: auto;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}

.login_button{
    margin-bottom: 20px;
    padding: 10px 40px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    color: rgb(0, 0, 119);
    background: rgb(175, 219, 255);
}

.reg_button{
    color: rgb(0, 0, 119);
    text-decoration: underline;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}
