@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, body {
    margin: auto;
    height: 100%;
    width: fit-content;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

button{
    border: none;
    background: #27e3249f;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}