@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, body {
    margin: auto;
    height: 100%;
    width: fit-content;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}
